
@font-face {
  font-family: 'Phototype-D';
  src: url('fonts/Phototype-DGX.ttf');
}

/* ======== variables ======== */
:root {
  --variable-weight: 400;
}

/* ======== INIT ======== */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  /* cursor: url("img/cursor.ico") 32 32, auto; */
}
/* ======== SITE ======== */


#landing{
  width: 100vw;
  height: 100vh;
  background-color: grey;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
}
/* horizontal navigation & section structure */

/* Specimen container */
#specimen{
position: absolute;
top:100vh;
  box-sizing: border-box;
  display: flex;
  width: 300vw;
  height: 100vh;
  background-color: orange;
  /* padding-right: 100vw; */
  overflow-x: hidden;
  transition: 100ms;
}
#specimen.posA{
  left:-0vw;
  transition: 1000ms;
}
#specimen.posB{
  left:-100vw;
  transition: 1000ms;
}
#specimen.posPres{
  left:-200vw;
  transition: 1000ms;
}
#specimen.posC{
  left:-300vw;
  transition: 1000ms;
}
section {
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  background-color: grey;
}

.content{
  /* box-sizing: border-box; */
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
}
.nav-bar {
  /* box-sizing: border-box; */
  width: 50px;
  height: 100%;
  /* float: left; */
  background-color: yellow;
  cursor: pointer;
  /* align-items: stretch; */
}
.content-main{
  height: 100%;
  flex-grow: 2;
  box-sizing: border-box;
  padding: 40px;
  background-color: lime;
}
