/* @font-face {
  font-family: 'Graebenbach-ital';
  src: url('fonts/Graebenbach-MediumItalic.eot');
  src: url('fonts/Graebenbach-MediumItalic.woff2') format('woff2'),
    url('fonts/Graebenbach-MediumItalic.woff') format('woff'),
    url('fonts/Graebenbach-MediumItalic.ttf') format('truetype'),
    url('fonts/Graebenbach-MediumItalic.svg#Graebenbach-MediumItalic') format('svg'),
    url('fonts/Graebenbach-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graebenbach';
  src: url('fonts/Graebenbach-Medium.eot');
  src: url('fonts/Graebenbach-Medium.woff2') format('woff2'),
    url('fonts/Graebenbach-Medium.woff') format('woff'),
    url('fonts/Graebenbach-Medium.ttf') format('truetype'),
    url('fonts/Graebenbach-Medium.svg#Graebenbach-Medium') format('svg'),
    url('fonts/Graebenbach-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
} */
@font-face {
  font-family: 'Phototype-D';
  src: url('fonts/Phototype-DGX.ttf');
}

/* ======== variables ======== */
:root {
  --variable-weight: 400;
}

/* ======== INIT ======== */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  /* cursor: url("img/cursor.ico") 32 32, auto; */
}

/* section {
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  background-color: grey;
} */

/* ======== NAVIGATION MENU ======== */
#menu {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background-color: lightgrey;
  z-index: 5;
}

#menu.top {
  position: fixed;
  top: 0;
  left: 0;
}

#title {
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 30px;
}

#variable-font-slider {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: salmon;
  margin-bottom: 15px;
}

/* ======== SITE ======== */


/* 00 — LANDING */
#landing {
  /* box-sizing: border-box; */
  width: 100vw;
  height: 100vh;
  background-color: salmon;
}

.landing-txt {
  width: 100vw;
  text-align: center;
  font-size: 120pt;
  user-select: none;
  -webkit-user-select: none;
}

#type-A-landing {
  font-family: 'Phototype-A';
  transition: 100ms;
  font-weight: var(--variable-weight);
}

#type-B-landing {
  font-family: 'Phototype-B';
  transition: 100ms;
  font-weight: var(--variable-weight);
}

#type-C-landing {
  font-family: 'Phototype-C';
  transition: 100ms;
  font-weight: var(--variable-weight);
  font-size:180pt;
}

#type-D-landing {
  font-family: 'Phototype-D';
  transition: 100ms;
  font-weight: var(--variable-weight);
  font-size:60pt;
}

  /* 01 - SPECIMEN */

/* Specimen container */
#specimen{
  position: absolute;
  top:100vh;
    box-sizing: border-box;
    display: flex;
    width: 500vw;
    height: 1300px;
    background-color: orange;
    /* padding-right: 100vw; */
    overflow-x: hidden;
    transition: 1000ms;
    z-index: 2;
}
#specimen.posA{
  left:-0vw;
  transition: 1000ms;
}
#specimen.posB{
  left:-100vw;
  transition: 1000ms;
}
#specimen.posPres{
  left:-200vw;
  transition: 1000ms;
}
#specimen.posC{
  left:-300vw;
  transition: 1000ms;
}
#specimen.posD{
  left:-400vw;
  transition: 1000ms;
}
section {
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  background-color: grey;
}
.content{
  box-sizing: border-box;
  padding-top: 50px;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
}
.nav-bar {
  /* box-sizing: border-box; */
  width: 50px;
  height: 100%;
  /* float: left; */
  background-color: yellow;
  cursor: pointer;
  /* align-items: stretch; */
}
.content-main{
  height: 100%;
  flex-grow: 2;
  box-sizing: border-box;
  padding: 40px;
  background-color: lime;
}
